/*Jorge Ortega*/
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    background-color: #1a1a1a;
    width: 98%;
    padding:5px 1% 5px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}
header a.logo{
    width:11.52852529601722%;
}
header a.logo img{
    width: 100%;
    height: auto;
}
header div#busqueda{
    width: 40%;
    text-align: center;
}
header input[type="text"]{
    height: auto;
    width: 85%;
}
header div.resaltado{
    padding: 10px;
}
header div.resaltado h1{
    color: white ;
}
header div.resaltado:hover{
    background-color: #392F63;
}

main{
    position: absolute;
    width: 100%;
    display: flex;
}
/*Grid de ropa*/
div#gridRopa{
    padding:5px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:center;
}
/*Dentro del div de ropa*/
div.cajaRopa{
    border:solid black 1px;
    text-align: center;
}
div.cajaRopa img{
    width:200px;
    height: auto;
}
